.project{
        background-color: #e4e5e7;
        padding: 30px;
}
.pList{
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    background-color: #eeeefc;
}
.pListDesc{
    padding: 10px;
    width: 40%;
    margin: auto;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}
.pListDesc p{
    color: #686f7a;
}
.pList:nth-child(even){
    flex-direction: row-reverse;
}
.pList h1{
    text-decoration: underline;
}