.header{
    display: flex;
    justify-content: space-evenly;
    background-color:  #25303f;
    height: 80px;
}
.header p{
    color: aliceblue;
    font-weight: 700;
    font-size: 20px;
    transition: transform .4s;
    margin: 45px;
}
.header p:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.header h1:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.header h1{
    margin: -2px;
    font-size: 60px;
    letter-spacing: 5px;
    color: white;
    
    transition: transform .4s;
}

