.footer{
    padding: 10px;
    height: 200px;
    background-color: #25303f;
    color: white;
    display: flex;
}

.footerLogo{
    margin: auto;
}
.footerContact{
    margin: auto;
    display: flex;
}

.contactLogos{
    width: 50%;
}

.footerAdd{
    width: 50%;
}